* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/academiaTCC.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model {
    background-color: #1f2021;
    border-radius: 6px;
    width: 300px;
    height: 620px;
    padding: 28px;
    color: aliceblue;
    font-size: 15px;
    margin-top: 10px;
}

.model h2 {
    text-align: center;
}

input {
    background-color: rgb(22, 22, 22);
    border-radius: 4px;
    height: 35px;
    color: aliceblue;
    margin: 15px;
    width: 87%;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#btnEditar {
    border-radius: 13px;
    height: 7%;
    width: 50%;
    background-color: rgb(244, 83, 83);
    border: none;
    color: aliceblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    /* Centralizando o botão */
    display: block;
    margin: 0 auto;
    text-align: center;
}


#btnEditar:hover {
    transition: 0.3s;
    background-color: rgb(245, 29, 29);
}

.btnDescartar{
    border-radius: 13px;
    height: 7%;
    width: 25%;
    background-color: rgb(244, 83, 83);
    border: none;
    color: aliceblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    /* Centralizando o botão */
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btnSalvar {
    border-radius: 13px;
    height: 7%;
    width: 25%;
    background-color: rgb(59, 157, 248);
    border: none;
    color: aliceblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    /* Centralizando o botão */
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Para telas de desktop padrão (monitores entre 1024px e 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
    .model {
        width: 335px;
        height: 620px;
        padding: 39px;
        font-size: 16px;
        margin-top: 100px;
    }

    input {
        width: 90%;
        height: 40px;
    }

    
}

/* Para telas grandes (monitores com mais de 1440px de largura) */
@media (min-width: 1440px) {
    .model {
        width: 400px;
        height: 700px;
        padding: 40px;
        font-size: 17px;
    }

    input {
        width: 92%;
        height: 45px;
    }

   

    body {
        font-size: 18px;
    }
}

/* Para monitores ultrawide (telas com mais de 1920px) */
@media (min-width: 1920px) {
    .model {
        width: 450px;
        height: 750px;
        padding: 45px;
        font-size: 18px;
    }

    input {
        width: 95%;
        height: 50px;
    }

    

    body {
        font-size: 19px;
    }
}
button.btnSalvar, button.btnDescartar {
    display: inline-block;
    margin-right: 10px; /* Para separar um pouco os botões */
    
}