<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homepageAdm.css">
    <link rel="stylesheet" href="./css/table.css">
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.min.css
" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>ADM Homepage</title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="./image/logo.png" alt="">
            <ul>
                <li><a href="Usuarios.html">Usuarios</a></li>
                <li><a href="administradores.html">ADMS</a></li>
                <li><a href="AdmExer.html">Exercicios</a></li>
                <li><a href="admLista.html">Listas de Treino</a></li>
             
            </ul>
        </div>
        <div class="tabela">
            <div class="cabeca">
                <h1>Exercicios</h1>
                <img src="./image/alem-disso-positivo-adicionar-simbolo-matematico.png" alt="" id="Create-exer">

            </div>

            <br>





            <input type="text" id="txtFiltro" placeholder="Filtro"><br><br>

            <table id="tblExercicios">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Musculo</th>
                        <th>Equipamento</th>
                        <th>Dificuldade</th>
                        <th>Instrução</th>
                        <th>Tipo</th>
                        <th>Imagem</th>
                        <th>Excluir</th>
                        <th>Editar</th>

                    </tr>
                </thead>
            </table>
        </div>



    </div>
    <script src="./js/sessao.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.all.min.js
"></script>
    <script src="./js/admExer.js"></script>




    </div>
</body>

</html>