<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Cadastrar</title>
</head>
<body>
    <div class="banner">
        <div class="container">
          <div class="form-box">
            <form class="form">
                <span class="title">Cadastro</span>
                <span class="subtitle">Cadastre para utilizar nossos recursos.</span>
                <div class="form-container">
                  <input type="text" class="input" placeholder="Nome" id="txtnome" required>
                  <input type="email" class="input" placeholder="Email" id="txtemail" required>
                  <input type="password" class="input" placeholder="Senha" id="txtsenha" required>
                  <input type="text" class="input" placeholder="Sexo"  id="txtSexo" required>
                  <input type="text" class="input"  placeholder="Altura" id="txtAltura" required>
                  <input type="text" class="input"  placeholder="Peso" id="txtPeso" required>
                </div>
                <button id="btncadastrar">Cadastrar</button>
            </form>
            <div class="form-section">
              <p>Já possui uma conta? <a href="login.html">Clique aqui!</a> </p>
            </div>
            </div>
        </div>
      </div>
</body>
<script src="./js/cadastro.js"></script>
</html>