<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/menu-lateral.css">
    <link rel="stylesheet" href="./css/exercicios.css">
    <link rel="stylesheet" href="./css/modalExercicios.css">
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.min.css
" rel="stylesheet">
   
    
    <title>Tela inicial</title>
</head>
<body>
    <div class="banner">
       

        <div id="filtro">
        <button type="button" id="voltar"><i class="bi bi-arrow-left"></i></button>
        <button type="button" id="todos">Todos</button>
        <button type="button" id="biceps">Biceps</button>
        <button type="button" id="triceps">Triceps</button>
        <button type="button" id="peito">Peito</button>
        <button type="button" id="costas">Costas</button>
        <button type="button" id="quadriceps">Quadriceps</button>
        <button type="button" id="ombro">Ombro</button>         
       
        <input type="text" id="busca" placeholder="Buscar">
        </div>
            
            <div class="card-container" id="card">
                <div id="card-content">

                </div>
                <div id="acoes">



                </div>
                  
            </div>
            
                



    
    
    </div>   
    
</body>
</html>
<script src="./js/sessao.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.all.min.js
"></script>
<script src="./js/exerciciosADM.js"></script>
