<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Tela inicial</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
           <p></p>
            <ul>
                <li><a href="#">Inicio</a></li>
               
                <li><a href="login_admin.html">Administradores</a></li>
            </ul>
        </div>
        <div class="content">
            <img src="./image/logo.png" alt="logo">
            <p> <br></p>
            <div>
                <button type="button" onclick="window.location.href = 'login.html';"><span></span> ENTRAR</button>
                <button type="button" onclick="window.location.href = 'cadastro.html';"><span></span> CADASTRAR</button>
            </div>
        </div>
    </div>   
</body>
</html>

